%% -*- erlang -*-

{deps, [
        {libp2p_crypto, "1.0.1"},
        {enacl, {git, "https://github.com/madninja/enacl.git", {branch, "madninja/escript"}}},
        pbkdf2,
        getopt,
        jsx
       ]}.

{erl_opts, [
            warn_untyped_records,
            debug_info,
            warnings_as_errors
           ]}.


{dialyzer, [
    {warnings, [unknown]},
    {plt_apps,all_deps}
]}.

{xref_checks,[
    undefined_function_calls,
    undefined_functions, %locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{escript_main_app, wallet}.
{escript_name, wallet}.
{escript_incl_apps, [libp2p_crypto, getopt, jsx, pbkdf2]}.
{escript_emu_args, "%%! -escript main wallet_cli_main"}.
